* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  margin: 0;
  line-height: auto;
}

a {
  text-decoration: none;
  color: var(--font-white);
}

.icon {
  color: var(--font-white);
}

*, button, input {
  border: 0;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Ubuntu, Arial, sans-serif;
}

/* PALETA DE CORES PADRÕES DO SISTEMA */

:root {
  --primary: #006b43;
  --secondary: #ed3237;

  --black: #34483f;

  --font-normal: #010101;
  --font-white: #fafafa;

  --red: #e74a3c;
  --red-desfocus: #ce4436;

  --green: #2dcc70;
  --green-desfocus: #2bb866;

  --blue: #22b8e7;
  --blue-desfocus: #21a5cf;

  --gray: #B0B0B0;
}