.container_computer {
  display: none;
  flex-direction: row;
}

.container_mobile {
  display: none;
  flex-direction: row;
}

/* --------------------------------------------------------------- */

.menu_lateral {
  display: flex;
  flex-direction: column;

  background-color: var(--primary);

  width: 25%;
  height: 100vh;
}

.menu_e_content {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100vh;
}

.itens_lateral, .icons_lateral {
  display: flex;
  flex-direction: column;

  color: var(--font-white);

  margin: 20% 5%;

  font-size: 1.6rem;
}

.icons_lateral {
  margin: 70% auto;
}

.superior {
  display: flex;

  align-items: center;
  justify-content: center;

  width: 100%;
  margin: 0 auto;

  height: 10vh;

  min-height: 65px;
  max-height: 65px;
}

.title_menu {
  font-size: 2.4rem;
  color: var(--font-white);

  font-weight: bold;

  display: flex;
}

.image_menu {
  margin: 2% auto;

  width: 50%;
  
  display: none;
  cursor: pointer;
}

.menu_superior {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  align-items: center;

  background-color: var(--black);

  width: 100%;
  height: 10vh;

  min-height: 65px;
  max-height: 65px;

  padding: 0 12px;
}

.icons_superior {
  display: flex;
  flex-direction: row;

  justify-content: space-between;

  width: 15rem;
}

.content {
  margin: 12px;

  border: solid 0.2px var(--gray);
  border-radius: 5px;

  height: 100vh;
}

.dropdown_cadastros_content {
  display: none;

  flex-direction: column;

  height: auto;

  margin: 0 5%;
}

.icons_lateral {
  display: none;
}

.icon_lateral {
  margin-bottom: 25px;

  cursor: pointer;

  padding: 5px 12px;
}

.item_dropdown {
  margin: 1% 0;

  font-size: 1.3rem;
}

.item {
  margin-bottom: 3%;

  cursor: pointer;

  font-size: 2rem;

  padding: 3% 0 3% 5px;
}

.open_menu, .open_menu_mobile, .icon_superior {
  cursor: pointer;
}

/* --------------------------------------------------------------- */

.item:hover {
  background-color: var(--font-white);
  color: var(--font-normal);

  border-radius: 0 10px 10px 0;
}

.abrir_cadastros:hover + .baixo {
  color: var(--font-normal) !important;
}

.item_dropdown:hover {
  background-color: var(--font-white);
  color: var(--font-normal);

  border-radius: 0 10px 10px 0;
}

.icon_lateral:hover {
  background-color: var(--font-white);
  color: var(--font-normal);

  border-radius: 50%;
}

/* --------------------------------------------------------------- */

.show {
  display: flex;
}

.hide {
  display: none;
}

.minimizar {
  width: 7%;
}
