.cards {
  display: flex;
  flex-direction: row;

  justify-content: space-between;

  width: 98%;
  height: 18%;

  margin: 1% auto;
}

.card {
  display: flex;
  flex-direction: row;

  width: 32%;
  height: 100%;
}

.information {
  display: flex;
  flex-direction: column;

  justify-content: center;

  padding-left: 5%;

  width: 80%;

  border-radius: 5px 0 0 5px;
}

.lateral {
  display: flex;

  width: 20%;

  border-radius: 0 5px 5px 0;
}

.responsaveis {
  background-color: var(--green);
}

.l_responsaveis {
  background-color: var(--green-desfocus);  
}

.setores {
  background-color: var(--red);
}

.l_setores {
  background-color: var(--red-desfocus);
}

.ramais {
  background-color: var(--blue);
}

.l_ramais {
  background-color: var(--blue-desfocus);
}

.card_title {
  font-weight: bold;
  color: var(--font-white);
 
  font-size: 1.2rem;
}

.card_value, .card_value_lateral {
  font-weight: bold;
  color: var(--font-white);

  font-size: 2.5rem;
}

.card_value_lateral {
  display: none;

  margin: auto;
}

/* ---------------------------------------------------------------------------- */

@media only screen and (max-width: 991px) {
  .cards {
    flex-direction: column;
  }

  .card {
    width: 100%;

    margin-bottom: 1%;
  }

  .card_value {
    display: none;
  }

  .card_value_lateral {
    display: flex;
  }
}